main{
  max-width: 100vw;

}

.hero{
  /* min-height: 100vh; */
  max-width: 100%;
  background-image: url(orange\ bg.jpg);
  background-size: cover;
}


.jhalar{
width: 300px;
}
.para-audio {
  margin-left: 15rem;
  max-width: 600px;
}

p{
  font-size: 46px;
  font-family: salsa;
}

.para-audio p {
  margin: 20px;
}

.para-audio audio {
  width: 275px;
}
.para-audio audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  background-color: #fbd8a4;
  border-radius: 25px;
  max-width: 540px;
}
.audio-icon span {
  font-size: 20px;
  font-family: salsa;
}

.audio-icon img {
  width: 30px;
  margin-left: 7px;
}

.waves{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.waves img{
  width: 24px;
  height: 24px;
}


.deepak-img img{
  max-width: 400px;
}
.page4,
.page3,
.page2{
    background-color: #F99501;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.page4 img,
.page2 img{
  max-width: 90%;
  margin: 30px 15px;
}
.page2 p{
  margin-block: 0;
  margin-inline: 30px;
  font-family: "Style Script", cursive;
  font-size: 70px;

}
.card-container{
  display: flex;
  max-width: 900px;
  width: 90%;
  margin-block: 2rem;
}
.white-board{
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
}
.white-board p{
  margin: 40px 30px;
  max-width: 500px;
  font-size: 42px;

}
.little-girl{
  max-width: 260px;
  margin-left:-5rem
}

.horizontal-divider{
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-block:30px;

}
.horizontal-line{
  width: 500px;
  height: 0;
  border: 2px solid #FBD8A4;
  background-color: #FBD8A4;
  ;
}
.circle{
  height: 8px;
  width: 8px;
  background-color: #FBD8A4;
  border-radius: 100%;
}

.gratitude{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: first baseline;

  width: 95%;
}
.gratitude :first-child{
  font-size: 1.5rem;
}
.gratitude :nth-child(2){
  font-family: "Style Script", cursive;
  font-size: 5rem;
  margin: 0;
}
.gratitude :nth-child(3){
  display: block;
  font-size: 1rem;
  margin-left: auto;
}


@media (max-width : 841px){
  .hero p{
    font-size: 32px;
  }
  .second-deepak{
    display : none;
  }
  .para-audio{
    margin: auto;
    max-width: 100%;

  }
  .deepak-img {
    display: grid;
    justify-content: center;
    
  }
  .audio-icon{
    margin:30px 10px ;
  
  }
  .page2 p{
    font-size: 42px;
  }
  .horizontal-divider{
    margin-block: 10px;
  }
  .little-girl{
    max-width: 200px;
    margin-left:-5rem;
  }
  .white-board p{
    font-size: 28px;
    margin: 1rem 3rem 1rem 0;
  }
  .white-board{
    padding: 1rem;
  }

  .gratitude :first-child{
    font-size: 1rem;
  }
  .gratitude :nth-child(2){
    font-family: "Style Script", cursive;
    font-size: 4rem;
    margin: 0;
  }
  .gratitude :nth-child(3){
    display: block;
    font-size: 1rem;
    margin-left: auto;
  }
  .jhalar{
    width: 250px;
  }
}

@media (max-width:550px){
  .hero p{
    font-size: 28px;
  }
  .waves img{
    display: none;
  }
  .audio-icon span{
    display: none;
  }
  .audio-icon{
    justify-content: center;
    margin: 12px;
  
  }
  .audio-icon audio{
    width: 300px;
  }
  .first-deepak{
    width: 100%;
  }
  .page2 p{
    font-size: 24px;
  }
  .horizontal-divider{
    margin-block: 5px;
  }
  .little-girl{
    max-width: 150px;
    margin-left:-4rem
  }
  .white-board p{
    font-size: 24px;
    margin: 1rem 2.5rem 1rem 0;
  }
  .white-board{
    padding: 0.5rem;
  }
  .gratitude :first-child{
    font-size: 0.7rem;
  }
  .gratitude :nth-child(2){
    font-family: "Style Script", cursive;
    font-size: 3rem;
    margin: 0;
  }
  .gratitude :nth-child(3){
    display: block;
    font-size: 0.6rem;
    margin-left: auto;
  }
  .jhalar{
    width: 200px;
  }
}