* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  font-family: "Nunito", serif;
  font-weight: 600;
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.nav-header {
  font-size: 28px;
  color: rgb(220, 220, 220);
  font-weight: 800;
  letter-spacing: 5px;
  position: relative;
}
.navigations a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 8px 24px;
  box-sizing: content-box;
  margin: 0 24px;
  border: 2px solid transparent;
  border-radius: 12px;
}
.navigations a:hover {
  animation: border 0.5s ease-in-out forwards;
}

.hamburger {
  display: none;
}
.nav-svgs {
  display: none;
}

main {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  margin-top: 4rem;
  color: rgb(14, 14, 24);
  padding: 0 1rem;
}
.dialog-box {
  border: 2px solid white;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.767),
    rgba(255, 216, 216, 0.47)
  );
  width: 100%;
  max-width: 400px;
  padding: 2rem 1rem;
  border-radius: 12px;
  box-shadow: 4px 2px 6px 1px rgba(0, 255, 255, 0.766);
  display: none;
  position: relative;
}
.cross {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  border-radius: 0 10px 0 20px;
  cursor: pointer;
}
.svgs {
  max-width: 24px;
  min-height: 24px;
  position: relative;
}
.svgs img {
  cursor: pointer;
}
.passunlock-svg {
  display: none;
}
.fig-show {
  display: block;
}
.fig-hide {
  display: none;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
}
.email input,
.password input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  width: 95%;
  margin: 0 10px;
}
.email,
.password {
  border-bottom: 2px solid;
  padding: 4px;
}

.email,
.password,
.functions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
}

.remember-me {
  display: flex;
  gap: 4px;
}
.submit {
  width: 100%;
  padding: 12px;
  color: white;
  font-weight: 550;
  font-size: 14px;
  background-color: rgb(46, 46, 72);
  border-radius: 10px;
  margin-block: 1rem;
  cursor: pointer;
}
.form-footer {
  text-align: center;
}

.form-footer b,
.forgot {
  cursor: pointer;
}

@keyframes border {
  0% {
    border-bottom: 2px solid white;
  }
  50% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
  }
  100% {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
  }
}

@media (max-width: 900px) {
  body {
    background-image: url(mobile-view.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .nav-header {
    color: rgb(46, 46, 72);
  }

  .hamburger {
    display: block;
  }

  .navigations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 2rem 1rem;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.305),
      rgba(0, 0, 0, 0.54)
    );
    border-radius: 12px;
  }
  .fig {
    display: none;
  }
  .nav-svgs {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
